<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleafw3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>ArbolShop</title>
    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"> </header>
        
        <section th:replace="~{arbol/fragmentos :: botonesAgregar}"> </section>
        <section th:replace="~{arbol/fragmentos :: agregarCategoria}"> </section>
        <section th:replace="~{arbol/fragmentos :: listadoCategorias}"> </section>
        
        
        <footer th:replace="~{layout/plantilla :: footer}"> </footer> 
    </body>
</html>
